body {
  display: flex;
  flex-direction: column;
  background-color: beige;
  align-items: center;
}
h1 {
  width: fit-content;
  background-color: chocolate;
  padding: 1.5rem;
  border-radius: 20px;
  text-align: center;
}
input {
  border-radius: 10px;
  font-size: 1rem;
}
.button {
  display: flex;
}
#btnAdd {
  background-color: darkolivegreen;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 30px;
}
#btnDel {
  background-color: red;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 30px;
  margin-right: 15px;
  margin-left: 15px;
}
#btnSearch {
  background-color: orange;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 30px;
}
#btnAdd:hover,
#btnDel:hover,
#btnSearch:hover {
  transform: translateY(-0.98px);
}
#btnAdd:active,
#btnDel:active,
#btnSearch:active {
  /*  X,Y,flou et 0,0,0 noir opacité 20% */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
}
